@mixin buttonPadding () {
    & {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        padding: $sm $md;
    }
}

@mixin roundedButton () {
    & {
        border-radius: $sm;
    }
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    @include buttonPadding();
    @include roundedButton();

    &:focus {
        outline: none;
    }

    &:hover {
        filter: brightness(0.9);
    }

}


.btn\:primary {
    background: red;
}