@import 'main.scss';
@import 'button.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	@include noScrollBar();
}

body {
	min-height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	background: $background-color;
}