@mixin pagePadding () {
    & {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        padding-left: $lg;
        padding-right: $lg
    }
}

@mixin noScrollBar () {
    & {
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}